.footer {
  width: 90%;
  margin: auto !important;
  padding: 50px 0;
  background-color: #3263C5;
}

.border {
  border-bottom: 1px solid #FFF;
  padding: 35px 0;
}

.backgroundFooter {
  background-color: #3263C5;
}
