* {
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-y: scroll;
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c3c3c;
  font-weight: normal;
  word-wrap: break-word;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
}

button {
  border: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}
